footer.bg-dark.py-5
    .container
        .row
            .col-lg-4
                p Сайт разработан командой Alertnet.
            .col-lg-4
                .social
                    a.social__item(href='https://www.instagram.com/bigudi_club/' target="_blank")
                        i.fab.fa-instagram.fa-lg.mr-1
                        span Instagram
            .col-lg-4
                div.ring-up
                    i.fas.fa-phone.fa-lg.mr-1
                    span &nbsp;+7 (499) 707-31-19